@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.react-calendar__tile--active {
  background-color: red;
  border-radius: 50%;
  width: 30px;
}

.react-calendar__tile--now {
  background-color: red;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}